[submodule "CGecko"]
	path = CGecko
	url = https://github.com/LittleCoaks/CGecko.git
	branch = main
[submodule "Decomp"]
	path = Decomp
	url = https://github.com/LittleCoaks/mssb-dtk.git
	branch = main
